# Ajuste nos Nomes dos Municípios nos Registos CVLI do Ceará

#### Carlos Eduardo Cassimiro da Silva

Pré-processamento para ajustar os nomes dos municípios nos registros CVLI do Ceará. Os conjuntos de dados utilizados para o trabalho de visualização serão conectados pelos nomes dos municípios, então ajustaremos todos os campos para que estejam em caixa alta e sem acento para evitar problemas desse aspecto. <br>
O referido dataset passou por um pré-processamento manual onde alguns nomes foram trocados e outros adicionados pra se ajustarem ao dos outros datasets, não é exatamente o mesmo da raspagem de dados dos pdf do outro notebook.

In [1]:
import pandas as pd
from unidecode import unidecode

In [2]:
cvli = pd.read_csv('arquivos/cvli_fortaleza_2019_mod.csv', sep=',', encoding='ISO-8859-1') # Lendo os dados do CVLI

In [3]:
cvli # Verificando a forma dos nomes

           MUNICIPIO  QTD_CVLI
0            Abaiara         0
1            Acarape         6
2             Acaraú         8
3           Acopiara        14
4             Aiuaba         1
..               ...       ...
179      Uruburetama         5
180           Uruoca         2
181          Varjota         3
182    Várzea Alegre         2
183  Viçosa do Ceará         3

[184 rows x 2 columns]

In [4]:
def upper2(x): # Definando um função upper sem que precise ser invocada por um objeto para se adequar ao apply do dataframe
    return x.upper()

In [5]:
cvli['MUNICIPIO'] = cvli['MUNICIPIO'].apply(upper2) # Deixando todos os nomes em caixa alta
cvli['MUNICIPIO'] = cvli['MUNICIPIO'].apply(unidecode) # Tirando os acentos dos nomes

In [6]:
cvli # Verficando o resultado final

           MUNICIPIO  QTD_CVLI
0            ABAIARA         0
1            ACARAPE         6
2             ACARAU         8
3           ACOPIARA        14
4             AIUABA         1
..               ...       ...
179      URUBURETAMA         5
180           URUOCA         2
181          VARJOTA         3
182    VARZEA ALEGRE         2
183  VICOSA DO CEARA         3

[184 rows x 2 columns]

In [10]:
cvli.to_csv('arquivos/cvli_fortaleza_2019_att.csv', encoding='ISO-8859-1', index=False) # salva o dataframe em csv